<template name="bonusInfoBox">
    <div id="collapseLearningPhaseInfoButton" class="col-xs-12 card card-block collapseButton">
        <strong>{{_ "set-list.learnphaseInfo"}}</strong>
        <i id="collapseLearningPhaseInfoIcon" class="glyphicon glyphicon-collapse-down pull-right"></i>
    </div>
    <div class="collapse" id="collapseLearningPhaseInfo">
        <div class="card card-block">
            <table class="table table-condensed table-striped table-hover infoBoxTable">
                <tbody>
                {{> cardsetInfoBoxItemBonusStatus}}
                {{> cardsetInfoBoxItemBonusMaxPoints}}
                {{> cardsetInfoBoxItemBonusPointsFAQ}}
                {{> cardsetInfoBoxItemBonusWorkload}}
                {{> cardsetInfoBoxItemPomodoroCount}}
                {{> cardsetInfoBoxItemPomodoroWorkTime}}
                {{> cardsetInfoBoxItemPomodoroBreakTime}}
                {{> cardsetInfoBoxItemBonusDeadline}}
                {{> cardsetInfoBoxItemBonusStart}}
                {{> cardsetInfoBoxItemBonusEnd}}
                {{> cardsetInfoBoxItemBonusActiveLearners}}
                {{> cardsetInfoBoxItemBonusRegistrationPeriod}}
                {{> cardsetInfoBoxItemBonusButton}}
                </tbody>
            </table>
        </div>
    </div>
</template>
